@font-face{font-family:nunito;src:url('fonts/Nunito-Regular.ttf')}
body{font-family:nunito;background-color:black;color:white}
h1{color:red;text-align:center;text-decoration:underline}
h2{color:yellowgreen}
h3{color:darkcyan}
.warning{color:orange}
.inverse{filter:invert(100%);-webkit-filter:invert(100%)}
a:link{color:lightcoral;background-color:transparent;text-decoration:none}
a:visited{color:lightcoral;background-color:transparent;text-decoration:none}
a:hover{color:lightcoral;background-color:transparent;text-decoration:underline}
a:active{color:red;background-color:transparent;text-decoration:underline}
table,th,td{border:15px solid black;border-collapse:collapse;text-align:center}