@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito.ttf);
}
body{font-family:Nunito;background-color: black;color: white;}
h1{color:red;text-decoration:underline;text-align:center;}
h2{color:blueviolet;text-decoration: underline;}
a:link{color:lightcoral;background-color:transparent;text-decoration:none}
a:visited{color:lightcoral;background-color:transparent;text-decoration:none}
a:hover{color:lightcoral;background-color:transparent;text-decoration:underline}
a:active{color:red;background-color:transparent;text-decoration:underline}